@import url("range.css");
@import url("checkbox.css");

*{
    box-sizing: border-box;
}

html, body{

    background: rgb(228, 226, 226);
    font-family: "courier new";
    font-size: 0.85em;
    text-transform: uppercase;
    margin: 0em;
    padding: 0px;
}

#warning{
    padding: 20%;
    padding-top: 10%;
}

.floatRight{
    float:right;
}



.main{
    padding: 1em;
    -webkit-column-width: 21em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

.controller{
    border-top: 1px dotted rgb(102, 95, 95);
    padding-top: 1em;
    padding-bottom: 1em;
    display: block;
}

.column{
    width: 30%;
}

.adjs-instance{

    background: #eeeeee;
    /*border-bottom: 1px dotted rgb(102, 95, 95);*/
    display: inline-block;
    padding: 1em;
    padding-top: 0.5em;
    width: 100%;
}

input[type="range"]{
    display: inline;
}


.vec3{
    width:100%;
    height: calc( width * 1 );
}