
input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;

    width: 100%;
    height: 15px;
    border-radius: 3px;
    margin-top: 10px;
    padding-right: 3px;

    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop( 0.2, #111111 ),
        color-stop( 0.2, #777777 )
    );
}


input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none;
    cursor: ew-resize;
    width:2px;
    height:15px;
    background: #111111

}